body {
  background: linear-gradient(to right, #6c5ce7, #e84393);
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
  /*margin: 15px auto;*/
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  /*min-height: 50vh;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contenedor-principal{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#playList {
  background: white;
  border-radius: 10px;
  text-align: left;
  opacity: 0.8;
  color: #e84393;
}

li {
  padding: 10px;
}

li:hover,
svg:hover {
  cursor: pointer;
  color: #e84393;
}

li.active {
  color: #6c5ce7;
}

#controls {
  border: 1px #eee solid;
  border-radius: 10px;
  padding: 10px;
  background: white;
  opacity: 0.8;
  max-width: 60%;
}

svg {
  color: #6c5ce7;
}

progress {
  width: 80%;
  margin: 10px;
  opacity: 0.5;
}

.timer {
  width: 50%;
  position: relative;
  top: 10px;
  left: 0px;
  text-align: left;
  float: left;
  color: #6c5ce7;
}

.volumenes {
  width: 50%;
  position: relative;
  top: 10px;
  right: 0px;
  text-align: right;
  float: left;
  color: #6c5ce7;
  margin-bottom: 20px;
}

#currentPlay {
  color: #6c5ce7;
}

h3 {
  color: #e84393;
  margin: 0px;
}

.cola {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  /*background-color: rgba(0, 0, 0, 0.5);  Fondo semitransparente */
  background: #e84393;
  border-radius: 10px;
  color: #eee;
  z-index: 9999; /* Asegúrate de que este sea el elemento con el z-index más alto */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}

.tecla {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 30px; /* Ajusta según el tamaño deseado */
}

.espacio{
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #e0e0e0;
    color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 120px; /* Ajusta según el tamaño deseado */

}

.tecla:active {
  background-color: #d4d4d4;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

.controles-titulo{
  width: 300px;
}

.controles-boton{
  flex-wrap: wrap;
  color: black;
  width: 100%;
  background: #6c5ce7;
}

.contenedor-boton{
  margin-left: 20px;
}

.controles{
  background: #e84393;
  position: fixed;
  display: flex;
  width: 300px;

  bottom: -640px;
  right: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  transition: bottom 0.5s ease; /* Transición suave al cambiar la posición */
}

.all{
  width: 100%;
}


.contenedor-publicidad{
  width: 300px;
  max-height: 400px;
  border: 1px #eee solid;
  border-radius: 10px;
  padding: 10px;
  background: white;
  opacity: 0.8;
  margin-left: 5px;
  overflow-y: scroll;
}



.titulo-publicidad{
  background: pink;
}